<footer class="web-footer">
    <div class="top container">
            <a href="#"><img src="./img/top.jpg" title="Top" alt="top"></a>
    </div>

    <div class="info container">
            <div id="upv-logo" class="upv-logo container">
                    <img class="upv" src="./img/upv.png" alt="upv_logo">
            </div>
        <span class="page container">&copy; Graphic Design Inspiration</span><br>
        <span class="university container">Universidad Politécnica de Valencia</span><br>
		<span class="fac container">Facultad de Bellas Artes de San Carlos</span><br>
        <span class="course container">2º DTTCC C - Elementos del diseño (2017/2018)</span>
    </div>
</footer>
