<section class="losiento ideal">

    <div class="ui-status error">
        Wait, something is wrong... 
    </div>
            
    <div class="ui-status loading">
        Loading...
    </div>

    <div class="ui-status ideal">
        <div class="description-images">
            <img class="description-image-1" src="./img/lo_siento.jpg" alt="Lo Siento Studio Front">
            <img class="description-image-2" src="./img/lo_siento_back.jpg" alt="Lo Siento Studio Back">
        </div>
        <div class="what-who">
            <p class="what">What</p><br>
            - Tenerife Design Festival.<br><br> 
            This is part of the graphic identity work for the Canary island Desing main Festival (TDF), 
            designed by Lo Siento Studio in 01/2013.
            <p class="what"><br>Who</p><br>
            - Lo Siento Studio.<br><br>
            Lo Siento is a design studio formed in Barcelona in 2006, founded by Borja Martínez.
            They love to experiment, feel and try their ideas manually, what takes them to these spectacular digital results. 
            Curiosity, surprise and fun, that's the point of their work.
        </div><br>
        <a class="link-losiento" href="http://www.losiento.net/"
		target="black">www.losiento.net</a>
    </div>
</section>