<form novalidate class="upload" action="">

        <div class="ui-status error">Wait, something is wrong...</div>

        <div class="ui-status loading">Loading...</div>
    
        <div class="ui-status ideal">
            <div class="upload-inspiration">
                Upload your inspiration
            </div><br>
            <div class="go-upload">
                <label for="Designer">Designer</label>
                <input type="text" id="upload-designer" name="Designer" placeholder="Name" required>
            </div>
            <div class="go-upload">
                <label for="Design">Design</label>
                <input type="text" id="upload-design" name="Design" placeholder="Work" required>
            </div>
            <div class="go-upload">
                <label for="design_url">Design URL</label>
                <input type="url" id="upload-url" name="upload-url" placeholder="http://...">   
            </div>
            <div class="go-upload">
                <button>OK</button>
            </div>
        </div>
    </form>