<section class="works ideal">

    <div class="ui-status empty">
        There are no work examples :(
    </div>
    
    <div class="ui-status error">
        Wait, something is wrong... 
    </div>
    
    <div class="ui-status loading">
        Loading...
    </div>
    
    <div class="ui-status ideal">
        <div class="hello">
            Hi graphic designer! These are some creative ideas for you. Watch them, inspire yourself.
        </div>

            <article class="work-example work-example-1">
                <a class="link-detail" href="detail.html">
                    <img class="design-image design-image-1" src="./img/lo_siento.jpg" alt="Lo Siento Studio">
                </a>
                <div class="designer">Lo Siento Studio</div>
                <div class="design-type">_graphic identity work</div>
            </article>

            <article class="work-example work-example-2">
                <a class="link-detail" href="detail.html">
                    <img class="design-image design-image-2" src="./img/magdiel_234.jpg" alt="Magdiel Lopez">
                </a>
                <div class="designer">Magdiel López</div>
                <div class="design-type">_personal work</div>
            </article>

            <article class="work-example work-example-3">
                <a class="link-detail" href="detail.html">
                    <img class="design-image design-image-3" src="./img/magdiel_019.jpg" alt="Magdiel Lopez">
                </a>
                <div class="designer">Magdiel López</div>
                <div class="design-type">_personal work</div>
            </article>

            <article class="work-example work-example-5">
                <a class="link-detail" href="detail.html">
                    <img class="design-image design-image-5" src="./img/konig.jpg" alt="Dirk Konig">
                </a>
                <div class="designer">Dirk Konig, Sgustok Studio </div>
                <div class="design-type">_graphic identity work</div>
            </article>

            <article class="work-example work-example-6">
                <a class="link-detail" href="detail.html">
                    <img class="design-image design-image-6" src="./img/lis.jpg" alt="Alexander Lis">
                </a>
                <div class="designer">Alexander Lis, Sgustok Studio</div>
                <div class="design-type">_graphic identity work</div>
            </article>

            <article class="work-example work-example-7">
                <a class="link-detail" href="detail.html">
                    <img class="design-image design-image-7" src="./img/mike_perry.gif" alt="Mike Perry Studio">
                </a>
                <div class="designer">Mike Perry Studio</div>
                <div class="design-type">_personal work</div>
            </article>

            <article class="work-example work-example-8">
                <a class="link-detail" href="detail.html">
                    <img class="design-image design-image-8" src="./img/mike_perry_2.gif" alt="Mike Perry Studio">
                </a>
                <div class="designer">Mike Perry Studio</div>
                <div class="design-type">_personal work</div>
            </article>

            <article class="work-example work-example-9">
                <a class="link-detail" href="detail.html">
                    <img class="design-image design-image-9" src="./img/pentagram_2.jpg" alt="Pentagram Studio">
                </a>
                <div class="designer">Pentagram Studio</div>
                <div class="design-type">_brand identity work</div>
            </article>

            <article class="work-example work-example-10">
                <a class="link-detail" href="detail.html">
                    <img class="design-image design-image design-image-10" src="./img/bankov.jpg" alt="Peter Bankov">
                </a>
                <div class="designer">Peter Bankov</div>
                <div class="design-type">_graphic identity work</div>
            </article>

            <article class="work-example work-example-11">
                <a class="link-detail" href="detail.html">
                    <img class="design-image design-image-11" src="./img/bankov_2.jpg" alt="Peter Bankov">
                </a>
                <div class="designer">Peter Bankov</div>
                <div class="design-type">_graphic identity work</div>
            </article>

            <article class="work-example work-example-12">
                <a class="link-detail" href="detail.html">
                    <img class="design-image design-image-12" src="./img/quim.jpg" alt="Quim Marin Studio">
                </a>
                <div class="designer">Quim Marin Studio</div>
                <div class="design-type">_graphic identity work</div>
            </article>
    </div>
</section>